@keyframes borderShift {
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes logoBlobBottom {
  100% {
    stroke: rgba(white, 0.75);
    transform: scaleX(0.7) translate(-6%, 0%);
  }
}

@keyframes logoBlobTop {
  100% {
    stroke: rgba(white, 0.75);
    transform: scaleX(0.7) translate(12%, 0%);
  }
}

@keyframes strokeDash {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes strokeArray {
  100% {
    stroke-dasharray: 0;
  }
}

@keyframes strokeOpacity {
  100% {
    stroke-width: 0;
  }
}

@keyframes verticalShiftIn {
  75% {
    transform: translateY(0);
  }
}

@keyframes verticalShiftOut {
  50% {
    transform: translateY(-60%);
  }
}

// @keyframes explode {
//   100% {
//     transform: scale(1);
//   }
// }

// @keyframes fadeIn {
//   100% {
//     opacity: 1;
//   }
// }

// @keyframes fadeOut {
//   100% {
//     opacity: 0;
//   }
// }

// @keyframes flashInvalid {
//   60% {
//     background-color: red;
//   }
//   100% {
//     background-color: argb();
//   }
// }

// @keyframes implode {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(0);
//   }
// }

// @keyframes slideIn {
//   100% {
//     transform: translateX(0);
//   }
// }

// @keyframes slideOutLeft {
//   100% {
//     transform: translateX(-100%);
//   }
// }

// @keyframes slideOutRight {
//   100% {
//     transform: translateX(100%);
//   }
// }

// @keyframes verticalShiftOutUp {
//   100% {
//     transform: translateY(-100%);
//   }
// }
