.docs {
  display: inline-block;
  margin: 30px 0;
  padding: 0 $appBasePad;
  text-align: left;
  @include breakpoint($medium) {
    padding: 0 $appMediumPad;
  }
  @include breakpoint($large) {
    padding: 0 $appLargePad;
  }
  &.legal {
    h3 {
      left: 50%;
      margin: 20px 0 25px 0;
      position: relative;
      transform: translateX(-50%);
      @include font-mass(1.25rem);
      > span {
        @include center-x;
      }
    }
  }
  &-container {
    width: 100%;
    @include center-x;
    @include breakpoint($medium) {
      max-width: $medium - $appMediumPad;
    }
    @include breakpoint($large) {
      max-width: $large - $appLargePad;
    }
    @include breakpoint($xLarge) {
      max-width: $large;
    }
  }
  h2 {
    color: $orangePeel;
    margin-bottom: 20px;
    text-align: center;
    @include center-x;
    @include font-mass(1.65rem, 2rem, 700);
    @include breakpoint($medium) {
      line-height: 1.65rem;
    }
  }
  h3 {
    clear: both;
    margin-top: 40px;
    @include float-box;
    @include font-mass(1.35rem, 1.35rem, 400);
  }
  p, ol, ul, li {
    clear: both;
    margin-top: 20px;
    text-align: left;
    @include float-box;
    @include font-mass(1rem, 1.4rem, 300);
  }
  li {
    display: list-item;
    margin: 10px 0 0 20px;
    width: calc(100% - 20px);
    &:first-child {
      margin-top: 0;
    }
    > span {
      float: left;
    }
  }
  ol {
    &[type='a'] {
      > li {
        list-style: lower-alpha outside;
      }
    }
    &[type='i'] {
      > li {
        list-style: lower-roman outside;
      }
    }
  }
  p {
    @include breakpoint($medium) {
      text-align: justify;
    }
  }
  ul {
    li {
      list-style: circle outside;
    }
  }
  .hint {
    color: $aluminum;
    margin-top: 12px;
    @include font-mass(1rem, 1rem, 300);
  }
}
