.not {
  &-found {
    clear: both;
    margin-top: 100px;
    width: 100%;
    @include center-x;
    @include breakpoint($medium) {
      @include size(668px 400px);
    }
    &-icon, h1, p {
      @include center-x;
    }
    &-icon {
      margin-top: 18px;
      @include size(268px 300px);
      @include breakpoint($medium) {
        @include size(410px);
      }
    }
    h1 {
      font: oxygen($size: 1.5rem, $lineHeight: 1rem, $weight: 700);
    }
    p {
      font: oxygen($size: 1.1rem, $lineHeight: 1.1rem);
      margin-top: 28px;
    }
    .robot {
      &-body, &-face {
        z-index: 1;
        @include float-box;
        @include position(relative, 0);
        @include size(100%);
      }
      &-face {
        position: absolute;
        z-index: 2;
      }
    }
    .svg {
      &-icon {
        &-container {
          path {
            fill: white;
            stroke-width: 0;
          }
        }
      }
    }
  }
}
