input {
  &[type='text'] {
    background-origin: border-box;
    font-weight: 400;
    outline: none;
    text-shadow: 0 0 0 argb();
    @include float-box;
    @include font-mass;
    @include moz-placeholder(3.85rem);
    @include text-input-placeholder {
      margin-bottom: 0;
      @include font-mass(0.8rem);
      @include transitions($property: color)
    }
    @include transitions($property: color);
    &[disabled] {
      background-color: rgba($quiltGray, 1);
      border-radius: 0;
      color: rgba($gallery, 0.8);
      @include text-input-placeholder {
        color: rgba($gallery, 0.8);
      }
    }
    &:-webkit-autofill {
      box-shadow: inset 0 0 0 100px white;
      @include backgrounds($color: white, $repeat: repeat, $size: cover);
      @include transitions($duration: 5s, $property: box-shadow);
    }
    &.inline-input {
      background-color: argb();
    }
    &.locked {
      background: rgba($gallery, 0.8);
      box-shadow: inset 0 0 0 0 argb();
      color: argb(0.5);
    }
  }
}
