.list {
  margin-bottom: 10px;
  position: relative;
  @include float-row;
  &-grid {
    margin-top: 12px;
    max-width: calc(100% - 30px);
    @include center-x;
    @include breakpoint($medium) {
      margin-top: 20px;
      max-width: none;
    }
  }
  &-info {
    height: 16px;
    max-width: calc(100% - 30px);
    text-align: left;
    top: -24px;
    z-index: 2;
    @include ellipsis;
    @include float-box;
    @include position(absolute, -24px null null 15px);
    @include font-height(1rem, 1rem);
  }
  &-item {
    backface-visibility: hidden;
    max-width: 480px;
    overflow: hidden;
    outline: none;
    position: relative;
    transition: margin 80ms linear 0s;
    width: 100%;
    @include center-x;
    @include breakpoint($medium) {
      clear: none;
      margin: 0 6px;
      max-width: 288px;
      min-height: 171px;
      opacity: 0;
      left: auto;
      transform: translateX(0);
      width: 288px;
    }
    @include breakpoint($large) {
      margin: 0 8px;
    }
    @include breakpoint($xLarge) {
      margin: 0 12px;
    }
    &:hover {
      h5 {
        &::before {
          @include breakpoint($large) {
            background-color: white;
          }
        }
      }
    }
    &:focus {
      h5 {
        &::before {
          background-color: white;
        }
      }
      .list-item-img-fg {
        opacity: 0;
      }
    }
    &.expanded {
      opacity: 0;
      @include animation-reset($delay: 50ms, $duration: 400ms, $name: fadeIn, $timing: linear);
    }
    &-container {
      background-color: rgba($nero, 0.65);
      backface-visibility: hidden;
      cursor: pointer;
      height: auto;
      margin-bottom: 50px;
      overflow: hidden;
      padding-top: calc((100vw - 30px) / (16 / 9));
      position: relative;
      transition: opacity 100ms ease-in-out 0s;
      z-index: 2;
      @include float-row;
      @include breakpoint($medium) {
        padding-top: calc(100% / (16 / 9));
      }
      &:hover {
        .list-item-img-fg {
          opacity: 0;
        }
      }
    }
    &-favorite {
      cursor: pointer;
      outline: none;
      z-index: 10;
      @include position(absolute, 0 0 null null);
      @include size(44px);
      .overlay & {
        left: 12px;
        right: auto;
        top: -53px;
      }
      &:hover {
        path {
          @include breakpoint($large) {
            fill: $ripeLemon;
            transform: scale(1.2);
          }
        }
      }
      &:focus, &:active {
        path {
          fill: $ripeLemon;
          transform: scale(1.2);
        }
      }
      &.active {
        path {
          fill: $ripeLemon;
        }
      }
      &-container {
        @include center-xy;
        @include size(28px);
      }
      path {
        stroke: $ripeLemon;
        stroke-width: 4px;
        transform-origin: 50% 50%;
        transition: transform 175ms ease-out 0s, fill 100ms ease 0s, stroke 125ms linear 0s;
      }
    }
    &-img {
      backface-visibility: hidden;
      top: 0;
      z-index: 2;
      @include position(absolute, 0);
      @include size(100%);
      &-bg, &-fg {
        backface-visibility: hidden;
        top: 0;
        @include bg-reset(contain);
        @include center-x(absolute);
        @include size(100%);
      }
      &-bg {
        backface-visibility: hidden;
        background-color: argb();
        max-width: 100%;
        max-height: 100%;
        outline: none;
        overflow: hidden;
        padding: 0;
        perspective: 1000px;
        pointer-events: none;
        z-index: 3;
        @include user-select(none);
        &:-moz-full-screen {
          position: absolute;
        }
        &:-webkit-full-screen {
          @include size(100%);
        }
        video {
          backface-visibility: hidden;
          background-color: argb();
          height: 100%;
          max-width: 100%;
          outline: 0;
          pointer-events: none;
          position: relative;
          top: 0;
          transition: opacity 300ms ease 0s;
          width: auto;
          z-index: 3;
          @include center-x;
          @include no-spacing;
        }
      }
      &-fg {
        opacity: 1;
        z-index: 4;
      }
    }
    &-title {
      bottom: 0;
      font-weight: 400;
      top: auto;
      z-index: 4;
      @include center-x(absolute);
      @include size(100% 50px);
      .overlay & {
        height: 44px;
        left: 0;
        margin: 20px 0 0 0;
        position: relative;
        transform: translateX(0);
        @include breakpoint($large) {
          padding-left: 90px;
        }
      }
      h5 {
        cursor: pointer;
        font-weight: 300;
        height: 17px;
        text-align: center;
        @include center-xy;
        @include ellipsis;
        @include font-height(0.9rem, 0.9rem);
        @include hzUnderline($color: white);
        &::before {
          bottom: 0;
        }
      }
    }
  }
}
