.overlay {
  background-color: argb();
  color: white;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10000;
  -webkit-overflow-scrolling: touch;
  @include position(fixed, 0 0 null 0);
  @include size(100%);
  &.concealed {
    opacity: 0;
    visibility: visible;
  }
  &.revealed {
    background-color: rgba(black, 0.95);
    display: block !important;
    opacity: 0;
    @include animations($duration: 150ms, $name: fadeIn, $timing: ease);
  }
  &-avatar {
    border-radius: 40px;
    overflow: hidden;
    z-index: 2;
    @include backgrounds($size: contain);
    @include float-box;
    @include position(absolute, 0 null null 0);
    @include size(80px);
  }
  &-close {
    @include close($size: 36px);
    @include position(absolute, 5px 8px null null);
    @include breakpoint($medium) {
      right: 20px;
      top: 15px;
      @include size(28px);
    }
    .overlay-locked & {
      display: none;
    }
    &::before, &::after {
      @include breakpoint($medium) {
        width: 28px;
      }
    }
  }
  &-container {
    min-width: 280px;
    display: inline-block;
    padding: 0;
    transform: translateX(-50%) scale(1);
    width: 100%;
    z-index: 2;
    @include position(absolute, -100px null null 50%);
    @include soft-hide;
    @include transitions(
      $delay: #{200ms, 300ms, 300ms},
      $duration: #{200ms, 200ms, 100ms},
      $property: #{visibility, opacity, top},
      $timing: linear
    );
  }
  &-content {
    padding-bottom: 400px;
    width: 100%;
    @include center-x;
    &-body {
      clear: both;
      max-height: calc(100vw / (16 / 9));
      position: relative;
      width: 100vw;
      @include float-box;
      &-container {
        max-height: calc(100vh / (16 / 9));
        overflow: hidden;
        top: 0;
        @include center-x(absolute);
        @include size(100%);
      }
      &-content {
        background-color: rgba($nero, 0.9);
        max-height: 768px;
        position: relative;
        top: 0;
        @include float-box;
        @include size(100% calc(100vw / (16 / 9)));
        @include breakpoint($large) {
          height: calc(100vh / (16 / 9));
        }
      }
    }
  }
  &-details {
    clear: both;
    padding: 0 2.5%;
    position: relative;
    width: 100%;
    @include center-x;
    @include breakpoint($large) {
      width: calc(145% / (16 / 9));
    }
    @include breakpoint($xxxLarge) {
      max-width: 1075px;
    }
    &.user-none {
      .overlay {
        &-details-container {
          padding-left: 0;
        }
        &-info {
          margin-top: 0;
        }
      }
    }
    &-container {
      clear: both;
      margin-top: 18px;
      padding-left: 100px;
      position: relative;
      @include float-row;
    }
  }
  &-info {
    margin-top: 16px;
    @include float-row;
    &-attribution {
      margin-top: 6px;
      a, span {
        text-align: left;
        @include font-mass(0.8rem, 1rem, 300);
      }
      a {
        color: $orangePeel;
        display: inline;
        &:hover {
          @include breakpoint($large) {
            text-decoration: underline;
          }
        }
        &:focus, &:active {
          text-decoration: underline;
        }
      }
      span {
        color: $aluminum;
      }
    }
    > * {
      clear: both;
      @include float-box;
    }
  }
  &-title {
    clear: both;
    margin-top: 20px;
    width: 100%;
    @include float-box;
  }
  h3 {
    color: white;
    left: 0;
    margin-top: 0;
    max-width: 96%;
    outline: 0;
    overflow: visible;
    text-align: left;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: normal;
    @include float-box;
    @include font-mass(1.25rem, 1.5rem, 700);
    @include position(null null null 0);
  }
  video {
    backface-visibility: hidden;
    background-color: argb();
    max-width: 100%;
    object-fit: contain;
    outline: 0;
    pointer-events: none;
    position: relative;
    top: 0;
    transition: opacity 300ms ease 0s;
    z-index: 3;
    @include center-x;
    @include no-spacing;
    @include size(auto 100%);
  }
  .field {
    &-label, &-value {
      clear: none;
      min-height: 15px;
      position: relative;
      top: 0;
      transform: translateY(0);
      @include font-mass(0.9rem, 1.15rem, 300);
      @include float-box;
    }
    &-label {
      left: 0;
      min-width: 65px;
      padding-right: 12px;
      text-align: right;
      &#item-tags {
        & + .field-value {
          > * {
            color: $aluminum;
            position: relative;
            @include float-box;
          }
          > a {
            color: $orangePeel;
            margin-left: 5px;
            @include hz-underline(white);
            &:first-child {
              margin: 0;
            }
          }
        }
      }
    }
    &-value {
      margin-top: 0;
      text-align: left;
      &[data-rating] {
        font-weight: 400;
      }
      &[data-rating='g'], &[data-rating='y'] {
        color: $springGreen;
      }
      &[data-rating='pg'] {
        color: $ripeLemon;
      }
      &[data-rating='pg-13'] {
        color: $orangePeel;
      }
      &[data-rating='r'], &[data-rating='nc-17'], &[data-rating='x'] {
        color: red;
      }
      > span {
        color: $aluminum;
      }
    }

  }
  .form-row {
    margin-top: 10px;
    width: 100%;
  }
  .overlay-container {
    top: 50px;
    @include soft-show;
    @include breakpoint($medium) {
      top: 60px;
    }
  }
}
