.app {
  @include float-row;
  &-body {
    margin-bottom: 10px;
    min-height: calc(100vh - 300px);
    position: relative;
    @include float-row;
    @include breakpoint($large) {
      margin-bottom: 60px;
    }
  }
  .scroll-pixel {
    background-color: argb();
    z-index: 1;
    @include position(absolute, -61px null null 0);
    @include size(1px);
  }
}
