.faux {
  &-header {
    display: none;
  }
}

.page {
  &-header {
    background: rgba($nero, 0.98);
    border-bottom: edge(rgba($gallery, 0.1));
    box-shadow: 0 -1px 14px 2px rgba($nero, 0.5);
    height: $headerHeight;
    z-index: 1004;
    transition: box-shadow 200ms ease-out;
    @include float-box;
    @include position(fixed, 0 0 null 0);
    @include breakpoint($medium) {
      height: $headerHeightLarge;
    }
    &::before {
      background: argb(0.45);
      content: '';
      @include position(absolute, null 0 0 0);
      @include size(100% 1px);
      @include breakpoint($medium) {
        height: $headerHeightLarge;
      }
    }
    > div[class^='page-header'] {
      height: $headerHeight;
      display: inline-block;
      @include position(absolute, 50% null null null);
      @include breakpoint($medium) {
        height: $headerHeightLarge;
      }
    }
    &-center {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-favorite {
      margin: 0 14px 0 0;
      @include float-box;
      @include size(32px 100%);
      .offset-scroll & {
        margin-right: 20px;
      }
      &:hover {
        .page-header-favorite-icon {
          path {
            @include breakpoint($large) {
              fill: $ripeLemon;
              stroke: $ripeLemon;
              transform: scale(1.2);
            }
            .favorites & {
              transform: scale(1);
            }
          }
        }
      }
      &:focus, &:active {
        .page-header-favorite-icon {
          path {
            fill: $ripeLemon;
            stroke: $ripeLemon;
            transform: scale(1.2);
            .favorites & {
              transform: scale(1);
            }
          }
        }
      }
      &-icon {
        @include center-xy;
        @include size(34px);
        path {
          stroke: $ripeLemon;
          stroke-width: 3px;
          transform: scale(1);
          transform-origin: 50% 50%;
          transition: transform 175ms ease-out 0s, fill 125ms linear 0s, stroke 125ms linear 0s;
          .favorites & {
            fill: $ripeLemon;
            stroke: $ripeLemon;
          }
        }
      }
    }
    &-left {
      left: 13px;
      transform: translateY(-50%);
      @include breakpoint($medium) {
        left: 24px;
      }
      @include breakpoint($large) {
        left: 19.5px;
      }
    }
    &-logo {
      height: 44px;
      @include center-y;
      .logo {
        &-pic {
          margin-right: 8px;
          overflow: hidden;
          @include center-y;
          @include size(36px);
          &-bg, &-fg {
            overflow: hidden;
            @include center-xy;
          }
          &-bg {
            z-index: 1;
            @include size(30px);
            svg {
              overflow: hidden;
            }
            #logo {
              &-moon, &-sun {
                transition: transform 100ms ease-in 0s;
                @include animation-reset($count: infinite, $delay: 0s, $duration: 40s, $fill: both, $name: none);
              }
              &-moon {
                animation-name: verticalShiftIn;
                fill: rgba(white, 0.65);
                stroke-width: 0;
                transform: translateY(-100%);
                z-index: 1;

              }
              &-sun {
                animation-name: verticalShiftOut;
                fill: argb();
                stroke: white;
                stroke-width: 2px;
                transform: translateY(0);
                z-index: 2;
              }
            }
          }
          &-fg {
            z-index: 2;
            position: absolute;
            @include size(32px);
            use {
              fill: argb();
              stroke: white;
              stroke-width: 3px;
            }
          }
        }
        &-text {
          margin-top: -1px;
          @include center-y;
          @include size(129px 28px);
          &-blobs {
            z-index: 1;
            @include position(relative, 0);
            @include size(100%);
            #logo {
              &-blob {
                &-bottom, &-top {
                  stroke: rgba(white, 0);
                  stroke-linecap: round;
                  stroke-width: 15px;
                  transform: scaleX(0.1) translateX(8%);
                  transform-origin: 0 50%;
                  @include animation-reset($name: none, $delay: 2500ms, $duration: 350ms);
                }
                &-bottom {
                  animation-name: logoBlobBottom;
                }
                &-top {
                  animation-name: logoBlobTop;
                }
              }
            }
          }
          &-letters {
            z-index: 2;
            @include position(absolute, 0);
            @include size(100%);
            use {
              fill: rgba(white, 0.75);
              stroke: argb();
              stroke-width: 0;
            }
          }
        }
      }
    }
    &-right {
      height: 100%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}
