.faux {
  &-header {
    display: none;
  }
}

.page {
  &-header {
    background: rgba($nero, 0.98);
    border-bottom: edge(rgba($gallery, 0.1));
    box-shadow: 0 -1px 14px 2px rgba($nero, 0.5);
    height: $headerHeight;
    z-index: 1004;
    transition: box-shadow 200ms ease-out;
    @include float-box;
    @include position(fixed, 0 0 null 0);
    @include breakpoint($medium) {
      height: $headerHeightLarge;
    }
    &::before {
      background: argb(0.45);
      content: '';
      @include position(absolute, null 0 0 0);
      @include size(100% 1px);
      @include breakpoint($medium) {
        height: $headerHeightLarge;
      }
    }
    > div[class^='page-header'] {
      height: $headerHeight;
      display: inline-block;
      @include position(absolute, 50% null null null);
      @include breakpoint($medium) {
        height: $headerHeightLarge;
      }
    }
    &-center {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-favorite {
      margin: 0 4px 0 0;
      @include float-box;
      @include size(44px 100%);
      .offset-scroll & {
        margin-right: 20px;
      }
      &:hover {
        .page-header-favorite-icon {
          path {
            @include breakpoint($large) {
              fill: $ripeLemon;
              stroke: $ripeLemon;
              transform: scale(1.2);
            }
            .favorites & {
              transform: scale(1);
            }
          }
        }
      }
      &:focus, &:active {
        .page-header-favorite-icon {
          path {
            fill: $ripeLemon;
            stroke: $ripeLemon;
            transform: scale(1.2);
            .favorites & {
              transform: scale(1);
            }
          }
        }
      }
      &-icon {
        @include center-xy;
        @include size(34px);
        path {
          transform: scale(1);
          transform-origin: 50% 50%;
          transition: transform 175ms ease-out 0s, fill 125ms linear 0s, stroke 125ms linear 0s;
          .favorites & {
            fill: $ripeLemon;
            stroke: $ripeLemon;
          }
        }
      }
    }
    &-left {
      left: $appBasePad;
      transform: translateY(-50%);
      @include breakpoint($medium) {
        left: 24px;
      }
      @include breakpoint($large) {
        left: 19.5px;
      }
    }
    &-right {
      height: 100%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}
