// Base breakpoints
$xxxxxLarge: 3000px;
$xxxxLarge:  2000px;
$xxxLarge:   1800px;
$xxLarge:    1600px;
$xLarge:     1280px;
$large:      1024px;
$medium:     768px;
$small:      640px;
$xSmall:     450px;
$base:       400px;

// Header Height - based on breakpoint.

$headerHeight:      50px;
$headerHeightLarge: 60px;

// Base Padding

$appBasePad:   14px;
$appMediumPad: 30px;
$appLargePad:  40px;
