// SASS Functions

// Alpha RGB shorthand
// Usage Examples:
// color: argb(255,0.5); == rgba(255,255,255,0.5)
// border-color: argb(0.5); == rgba(0,0,0,0.5)
// background-color: argb(); == transparent
// @mixin linear-gradient(argb(0.75) 0, argb() 100%)

@function argb($alpha: 0, $value: 0) {
  @return rgba($value, $value, $value, $alpha);
}

// Border Edge Shorthand
// Usage Examples
// border: edge(blue);
// border: edge(blue, dash);
// border: edge(); == border: solid 1px transparent

@function edge($color: argb(), $style: solid, $size: 1) {
  @if $style == 'dash' {
    @return dashed #{$size}px #{$color};
  }
  @else if $style == 'dot' {
    @return dotted #{$size}px #{$color};
  }
  @else {
    @return #{$style} #{$size}px #{$color};
  }
}

// Font Usage Example
// font: system(1.5em, 1.5em);

// System font shorthand
//
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/#details-of-approach-a

@function oxygen(
  $size: 1rem,
  $lineHeight: normal,
  $variant: normal,
  $weight: 300) {
  @return #{$weight} #{$variant} #{$size}/#{$lineHeight} Oxygen,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}
