// Global color definitions

$alizarinCrimson: #e71d36;  // rgb(231,29,54)
$gallery:         #eee;    // rgb(238)
$mineShaft:       #313131; // rgb(49);
$quiltGray:       #d8d8d8; // rgb(216)
$nero:            #202020; // rgb(32)
$shark:           #222224; // rgb(34,34,36);
$tundora:         #454545; // rgb(69)

// $orangePeel:        #f90;     // rgb(255,153,0)
// $sanMarino:         #4b64a6;  // rgb(75,100,166)
// $silverChalice:     #b2b2b2;  // rgb(178);
// $springGreen:       #0f6;     // rgb(0,255,102)
// $veniceBlue:        #0965A0;  // rgb(9, 101, 160);
// $vermilion:         #ff4d00;  // rgb(255,77,0)
// $wildWatermelon:    #f75067;  // rgb(247,80,103)
