<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Stashy Experiment</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" id="viewport">
    <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="/assets/styles/vendor/_fonts.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/common/_artifacts.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/layout/_body.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/layout/_header.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <svg class="svg-definitions" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <%// Logo Picture %>
      <symbol id="logo-picture" viewBox="0 0 100 100">
        <path id="logo-mtn-small" d="M64.8199997 54.3399963l7.4400024-5.7799988c4.7015228-3.6550674 11.2007217-3.9358978 16.2000046-.7000008L94 51.4199982" />
        <path id="logo-mtn-big" d="M6 77.3799973l34.4000015-23.7199936c4.6297226-3.1888199 10.7178421-3.2990799 15.4599991-.2799988L94 77.6399994" />
        <path id="logo-pic" d="M12 6h76c3.3137054 0 6 2.6862917 6 6v75.9995804c0 3.3138733-2.6865463 6.0002289-6.0004196 6l-76-.0053024C8.6860361 93.9940414 6 91.3078232 6 87.994278V12c0-3.3137083 2.6862917-6 6-6z" />
      </symbol>

      <%// Logo Text %>
      <symbol id="logo-text" viewBox="0 0 604 132">
        <path id="logo-s-one" d="M33.0143394 1.6638768c-4.845129 0-10.5659847 1.2806463-11.6614552 1.6874397C14.9453964 5.7345877 9.4613285 10.274992 5.9477615 16.1589012-.5025449 26.2670765.9468307 46.6200065 8.4841413 52.5730705 18.0987339 63.4456711 34.0979614 65.7941513 47.36726 69.4379807c5.9477921 1.6325607 12.4708748 3.526062 17.2667503 7.5807114 3.6520081 3.0871429 5.3778763 7.3505402 5.9840851 11.9926453.7137299 5.4677429.3951721 11.3422928-2.1788483 16.3229446-1.0631409 2.4578094-9.8429413 10.6691895-15.1834526 10.6390228l-5.118351-.0032806c-3.8813477.0032806-6.7785606 2.3405228-6.7785606 7.2236252 0 4.7187576 2.4295349 7.1914978 6.7785606 7.1914978l.9355164-.0151215 5.0256348.0151215c6.4545288-.4134827 17.5047455-4.1580811 23.6124878-11.0630188 9.1791-10.3788147 10.2113876-26.8650208 6.0002136-39.7341614-4.0646667-12.4235382-15.0986633-18.8828621-26.9902191-22.710022-3.591526-1.1561737-7.2314415-2.1758575-10.9197464-2.978756-12.1724777-2.6509094-14.9064484-3.4109879-21.319313-7.2060242-3.8482552-2.277565-6.5714722-5.5359955-7.4236526-9.9626465-.9529896-4.9565697-.344099-10.6036224 2.7837009-14.7144756.495985-.6543617 1.0484257-1.2565422 1.6425323-1.8078594 1.5968323-1.4813538 4.6117249-2.7552814 6.8994408-3.4136658 1.4785461-.4255371 4.6303005-.6859093 4.6303005-.6859093 4.4391289.0393772 8.032074 0 8.032074-7.2230339-1e-7-7.2216975-8.0320741-7.2216975-8.0320741-7.2216975" />
        <path id="logo-t" d="M107.7063828 2.0978069c-4.1496429 0-7.5134354 3.3421612-7.5134354 7.4640265v.0561705c0 4.1232014 3.3637772 7.4666996 7.5134354 7.4666996h22.4422379c1.5099487 0 2.7324066 1.2143555 2.7324066 2.7122459v103.1214981c0 4.1232071 3.3624268 7.4666977 7.512085 7.4666977 4.1496582 0 7.5147858-3.3434906 7.5147858-7.4666977V19.7969494c0-1.4978905 1.2211151-2.7122459 2.7297058-2.7122459h22.3804474c4.1483002 0 7.512085-3.3434982 7.512085-7.4666996v-.0561705c0-4.1218653-3.3637848-7.4640265-7.512085-7.4640265h-65.3116685z" />
        <path id="logo-a" d="M231.9545898 2.00001c-.043869 0-.0903778 0-.1356049.0013227-3.0334778.0463243-5.8582764 1.9387932-6.9230499 4.9548578l-18.577179 52.6506042-6.5588226 18.5899582-14.7899475 41.9124451c-1.3638763 3.8683319.6766205 8.1059036 4.5622101 9.466362l.0053101.002655c3.8855896 1.3591309 8.139389-.674942 9.5045929-4.541954l31.3970795-88.983551c.5303955-1.5020752 2.6652679-1.5020752 3.1943359 0l31.3983765 88.983551c1.3652039 3.867012 5.6190186 5.9010849 9.5046082 4.541954l.0053101-.002655c3.8855896-1.3604584 5.9260864-5.5980301 4.5622253-9.466362l-14.789978-41.9124451-6.5588379-18.5899582-18.5771638-52.6506146c-1.0647736-3.0160542-3.8895721-4.9085331-6.9230652-4.9548573C232.2084656 2 232.163269 2 232.1180725 2h-.1634979" />
        <path id="logo-s-four" d="M323.8615723 1.9974983c-5.3504639.4980175-10.4243164 2.8221095-14.8047485 5.9577961-8.5663147 6.1303859-12.639679 16.1724701-12.3525085 26.4872684.2540894 9.0921555 4.1938171 16.8970947 11.537323 22.3502884 9.006958 6.6903305 20.0982971 9.4715996 30.5570374 13.0288811 7.5843201 2.5810089 17.2172852 5.9037781 20.6223755 13.8747253 3.3005066 7.7245712 1.9916992 18.7007751-3.5149231 25.0801697-3.1364441 3.6350174-8.108429 6.5664825-11.7464294 6.8326187-1.8725891.135704-5.0698853.2964401-6.9464417.2964401-6.9927979 0-17.5640259-.1133041-24.5568237-.1133041-3.3574219 0-6.4581299.8432083-8.0051575 4.1620255-2.2762451 4.8840179 1.4941101 10.1369324 6.6936951 10.2924042 5.9896545.1765442 13.7817688.1119843 19.7727661.1119843 3.019989 0 7.8476868.0592957 10.866333 0 4.1567688-.0816803 6.9120483-.9156647 10.1715698-2.1211853 9.627655-3.5638733 17.3072815-10.919548 20.9294128-20.5084076 3.5043335-9.2779236 3.7134094-20.796936-.2156982-29.9931717-3.5493469-8.3082352-10.8663635-13.7482452-18.8781738-17.4860268-4.8965454-2.284565-10.0339355-4.0368614-15.1990967-5.6086426-8.5610046-2.6152649-6.557373-2.0078926-2.5527954-.7878723-4.9177246-1.5362206-9.8407288-3.2200012-14.4156799-5.5691223-3.1086426-1.5994568-6.2265625-3.6113014-8.1653137-6.5862465-3.776947-5.7931061-2.7142639-15.1342678 1.8355408-20.1856098 2.5369263-2.8181591 6.3072815-4.4176159 10.1000977-5.0039082 2.6732483-.4110603 6.0783081-.4756222 8.7582092-.4756222 6.1934509 0 13.8982544.2094803 20.193573.1396599 5.2829895-.0579681 9.1472473-5.3662262 6.7029724-10.3279772-1.7044983-3.4597874-5.0540161-4.0750694-8.5001221-4.0750694-3.6790161 0-9.9346619-.0750972-15.8382874-.0750972-5.3756409 0-10.4587402.0619192-13.0486145.3030323" />
        <path id="logo-h" d="M407.9077759 9.1589098v113.3740311c0 4.1233978 3.3639526 7.4670563 7.5137634 7.4670563 4.1498413 0 7.5137939-3.3436584 7.5137939-7.4670563V77.8376083c0-1.4016647 1.1445923-2.5385056 2.5565491-2.5385056h48.1242676c1.4105835 0 2.5552368 1.1368408 2.5552368 2.5385056v44.6953354c0 4.1233978 3.3639221 7.4670563 7.5137634 7.4670563h.0067139c4.1498413 0 7.5137939-3.3436584 7.5137939-7.4670563V9.1709099c0-4.1220622-3.3639526-7.4643831-7.5137939-7.4643831h-.0067139c-4.1498413 0-7.5137634 3.3423207-7.5137634 7.4643831v48.8454933c0 1.4029999-1.1445923 2.5398407-2.5565796 2.5398407l-48.1242676-.0227356c-1.4119263-.0013351-2.5552063-1.1381836-2.5552063-2.5398407V9.1588793c0-4.1180515-3.3558655-7.4590359-7.5003662-7.4643826h-.0134583c-4.1485291-.0013368-7.5137634 3.3423209-7.5137634 7.4643826" />
        <path id="logo-y" d="M565.3300171 74.9211578l36.0249023-61.959301-12.8904419-7.647387.4064331-.6997743-29.5439453 54.1175728c-.4990845.9135246-2.5079956.9135246-3.0057983 0L527.2156372 5.404057l-12.8904419 7.647387 35.9992065 61.8697128m1e-7 48.0316096c0 4.1042557 3.3577271 7.4323807 7.5014648 7.4323807 4.1437988 0 7.5041504-3.328125 7.5041504-7.4323807h-15.0056152zm0-48.0316086h15.0056152v48.0316086h-15.0056152V74.9211578zM527.2156372 5.404057c-2.1104126-3.5257144-6.7060547-4.6735191-10.2657471-2.5617006-3.5596313 2.1118133-4.7350464 6.6833725-2.6246948 10.2090874l12.8904419-7.6473868zm74.1392822 7.5578008c2.1103516-3.5257139.9349365-8.0972738-2.6246948-10.2090874-3.5596924-2.1118186-8.1553345-.9640138-10.2657471 2.5617003l12.8904419 7.6473871z" />
      </symbol>

      <%// Robot Body %>
      <symbol id="robot-body" viewBox="0 0 100 100">
        <path d="M23.9837704 94.0574265V90.054924c0-7.7228165 6.285923-14.0087357 14.0087376-14.0087357h24.0149803c7.7228203 0 14.0087395 6.2859192 14.0087395 14.0087357v4.0025024H23.9837704zM13.9775295 54.0324554H9.9750328V34.0199738h4.0024967v20.0124816zm4.0024967-32.0199718h64.0399475v50.0312119H17.9800262V22.0124836zM47.9987526 8.0037451c0-1.1046891.8965569-2.0012484 2.0012474-2.0012484 1.1046944 0 2.0012474.8965592 2.0012474 2.0012484S51.1046867 10.0049934 50 10.0049934s-2.0012474-.8965587-2.0012474-2.0012483zm38.023716 26.0162287h4.0024948v20.0124817h-4.0024948V34.0199738zm-6.0037461 60.0374527V90.054924c0-5.6555252-2.6256332-10.7046738-6.7141876-14.0087357H84.021225c1.1066895 0 2.0012436-.8945541 2.0012436-2.0012512v-16.009983h6.003746c1.1066971 0 2.0012512-.8945541 2.0012512-2.0012474V32.0187263c0-1.1066895-.8945541-2.0012493-2.0012512-2.0012493h-6.003746V20.0112343c0-1.1066875-.8945541-2.0012474-2.0012436-2.0012474H52.0012474v-4.3707266c2.3234482-.828516 4.0024986-3.0298901 4.0024986-5.6355152C56.003746 4.6936798 53.3100624 2 50 2s-6.003746 2.6936798-6.003746 6.0037451c0 2.6056252 1.6790504 4.8069992 4.0024986 5.6355152v4.3707266H15.9787779c-1.1066895 0-2.0012484.8945599-2.0012484 2.0012474V30.017477H7.9737844c-1.1066895 0-2.0012484.8945599-2.0012484 2.0012493v24.0149803c0 1.1066933.894557 2.0012474 2.0012484 2.0012474h6.0037451v16.0099831c0 1.1066971.894557 2.0012512 2.0012484 2.0012512h10.7166834c-4.0885487 3.3040619-6.7141876 8.3532104-6.7141876 14.0087357v4.0025024M80.0187225 98v-3.9425735H19.9812737L19.9721394 98h60.0465831z" />
      </symbol>

      <%// Rocket Parts %>
      <symbol id="rocket-exhaust-left" viewBox="0 0 100 100">
        <path d="M46.9867592 79.4985886v-3.9088364c0-.9772034-.9772148-.9772034-.9772148 0v3.9088364h.9772148z" />
      </symbol>
      <symbol id="rocket-exhaust-right" viewBox="0 0 100 100">
        <path d="M49.9184036 82.4302139v-5.8632507c0-.977211-.9772148-.977211-.9772148 0v5.8632507h.9772148z" />
      </symbol>
      <symbol id="rocket-body" viewBox="0 0 100 100">
        <path d="M64.570755 71.3017654c-.1612396.871666-1.2185898 1.2224884-1.8625717.619545-2.0286942-1.8830795-4.6945381-3.1847229-7.3828545-3.6361923-.4417.977211-.6508255 1.742363-2.0003586 1.6319351.2032623.637146.5482178 1.4472504.4397469 1.7179337-.1211739.3019562-.4182472.4846954-.7368202.4563599-1.0202103-.0938187-2.5798454-.1045609-3.7886581-.1192245-.0449524.8394241-.6430092 1.3534317-1.5156593 1.3534317-.837471 0-1.4814529-.5804596-1.518589-1.3553925-1.1922035.0156403-2.7811546.024437-3.8091812.1211777-.3088036.0283356-.5990334-.1543961-.7172775-.4563522-.1045609-.2697144.2306252-1.0788422.4280205-1.7169571-1.2381287.1035843-1.4521408-.4446335-1.9866791-1.6329193-2.687336.4514694-5.3531799 1.7531128-7.3848076 3.639122-.6381187.598053-1.7003517.2501678-1.8596363-.6185684-1.6241322-9.0694733-.0244312-15.3148155 4.8714123-19.0927048-1.3886223-13.2235756 2.5915718-27.3422871 10.9897499-34.8775406.5628777-.50424 1.4091454-.50424 1.9720192 0 7.8069649 7.004631 12.4858704 20.6230106 10.9907303 34.8785324 4.8948668 3.7769088 6.4945677 10.0232238 4.871414 19.0878142zm-21.8407402-46.70862c3.188652.6947956 6.798481.6947956 9.9861565 0-1.4707108-2.4303188-3.14077-4.5127506-4.9857483-6.1681423-1.8576851 1.6544151-3.5287209 3.7368469-5.0004082 6.1681423zm-3.2081947 42.305315c-1.7492142-4.1785431-2.9453239-8.5300522-3.5629234-12.9665833-3.8394737 3.4026413-5.038517 8.6922722-3.7466393 16.4962616 2.0775566-1.7707061 4.6720619-3.0185928 7.3095627-3.5296783zm8.6200065-13.3007851c.0156326-.6469116-.8540878-.6410484-.8384514.0009766.0185661.6693878.3547287 18.2366676.3547287 18.2366676l.1983719-.0156326c.0009804.0009766.2648278-17.4470863.2853508-18.2220116zm4.8499146-28.5647869c-3.4192734.7759037-7.1238937.7739487-10.5373001 0-6.6167183 11.3297558-7.8362846 28.1651058-.6420326 43.4339905.9772148-.0654755 2.3883133-.2140121 4.3153801-.294136-.1016312-5.1958237-.2736206-13.9975395-.2882767-14.5359802-.0684052-2.6159859 3.8365402-2.5993767 3.7681351 0-.0146561.5462608-.1866493 9.3450432-.2882767 14.5359802 1.5518188.0625381 3.0195923.1876221 4.3026772.2990265 6.4554748-13.1415005 6.7857742-30.7390767-.6303063-43.438881zm6.4955444 28.8999691c-.618576 4.4365311-1.8137093 8.7870636-3.5629234 12.9665871 2.6375008.5110779 5.2329826 1.7579956 7.3085861 3.5286942 1.2918777-7.8020325.0928345-13.0916634-3.7456627-16.4952813zm-4.5362282-12.3167381c0-3.9791946-3.2414207-7.2176628-7.227478-7.2176628-3.9850769 0-7.2274742 3.2374916-7.2274742 7.2176628 0 3.9811478 3.2423973 7.2205963 7.2274742 7.2205963s7.227478-3.238472 7.227478-7.2205963zm-.9772148 0c0 3.4427071-2.803627 6.2433853-6.2502632 6.2433853-3.4466324 0-6.2502594-2.7997017-6.2502594-6.2433853 0-3.4407539 2.803627-6.2404556 6.2502594-6.2404556 3.4466362 0 6.2502632 2.800682 6.2502632 6.2404556zm-8.7538833 1.9739609c-.2931633.2570076-.5531044-.0019531-.2921867-.2931595l4.8860703-4.8860435c.2159653-.2159653.5325813.0009766.2921867.2931595l-4.8860703 4.8860435zm3.1280632-2.1498566c.1817627-.2335548-.0019531-.3557053-.1964226-.1954422l-3.9088554 3.9088326c-.1426735.1426735.0684052.3244362.1964188.1964188l3.9088592-3.9098092zm1.6602821-.6840477c.2237816-.2198715.0019531-.3586349-.1944656-.1944656l-2.8339233 2.736187c-.2179184.2149849-.0107498.4026108.1944656.1944618l2.8339233-2.7361832z" />
      </symbol>
      <symbol id="rocket-clouds-left" viewBox="0 0 100 100">
        <path d="M3.7850943 99.0427628c-1.1101155-.977211-1.7853706-2.925766-1.7853706-4.7199173 0-3.8687668 3.1358807-7.0290604 7.0046721-7.0290604 2.4635572 0 4.6300411 1.2596207 5.8779449 3.1856995-1.1032753.925415-1.9749498 2.1312943-2.4899426 3.5443344 3.4095011-5.3883286 10.7083139-5.2945175 14.00348.1563568 1.2430172-.0420227 2.4528084.167099 3.5697651.5921936 1.343668-1.8948135 3.50527-3.0029602 5.7724056-3.0303268.4270439.8873062 1.1081581 1.5733109 1.916317 2.0140228-5.3746796-4.4081879 3.4945183-11.4714508 6.5590591-5.1694336-.2511444-.9351883-.7514801-1.6925278-1.4169617-2.2641907 1.501976-3.3088303 6.2658958-3.3606262 7.7874184.0107498.0087929.0205231.0175934.0429993.0263863.0644989-.8130455.1543961-1.5987244.452446-2.3511772.9185791 5.7626343-2.3101196 11.2594643 3.9811478 8.2173958 9.4193115 2.2632294-.3469162 4.5577278.3527679 6.0352783 2.3071823l-58.7266705 1e-7zm45.2831316-2.6110993c-1.1364975-2.516304-3.6948433-3.9440155-6.2971687-3.7602997.0058632-.0371323.0087967-.0742645.0146599-.1113968-.0205231.0390854-.0429955.0772018-.0635185.115303-.7182541.0566788-1.4404144.2355042-2.1352158.5491943-.931282.4201965-1.7091484 1.0368118-2.3150177 1.7746124.564827-.5276947 1.239109-.9713516 2.0081749-1.2957764 3.2814865-1.3895874 7.1141167-.1446304 8.8066559 2.7762527-.0058633-.0166166-.012703-.0312803-.01857-.0478895z" />
      </symbol>
      <symbol id="rocket-clouds-right" viewBox="0 0 100 100">
        <path d="M78.3514328 91.3462677c-.1778488 1.3016434-.0684052 2.6286926.3488693 3.9401016-1.1208649-9.5199585 12.1057281-13.1864548 16.0438995-4.4570465 1.0788422 2.3931885.9488754 5.0160217-.1299667 7.1971436.6889343-.9097824 1.2009888-1.8908997 1.5097885-2.9795151 1.107193 1.0260773 1.7814636 3.0186005 1.8762512 3.9958115H63.9218864c.7114144-6.8404618 8.1255379-10.5440827 14.4295464-7.6964951z" />
      </symbol>
    </svg>
    <header class="faux-header"></header>
    <div id="app-container"></div>
    <script type="text/javascript">
      var _stashyConfig = { // eslint-disable-line no-var
        'GIPHY_KEY': '<%= envVars.GIPHY_KEY %>'
      };

      // Detect & set the offset (scrollbar width) between the window width and
      // the viewport width, for later use, if vertical scroll bars are present.
      // This value can be variable from one OS to another.

      // eslint-disable-next-line no-var
      var offsetWidth = window.innerWidth - document.body.clientWidth;

      // eslint-disable-next-line no-var
      var viewPortEl = document.getElementById('viewport');

      document.body.setAttribute('data-offset', offsetWidth);

      // eslint-disable-next-line no-var
      var viewPortWidth = 'width=device-width, ';

      // eslint-disable-next-line no-var
      var viewPortHeight = 'height=' + window.innerHeight + ', initial-scale=1';

      viewPortEl.setAttribute('content', viewPortWidth + viewPortHeight);
    </script>
    <script src="/bundle.js" type="text/javascript"></script>
  </body>
</html>
