<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Giphy Search Experiment</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" id="viewport">
    <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="/assets/styles/base/_reset.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/layout/_body.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/views/_unsupported.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <svg class="svg-definitions" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <%// Logo Picture %>
      <symbol id="logo-picture" viewBox="0 0 100 100">
        <path id="logo-mtn-small" d="M64.8199997 54.3399963l7.4400024-5.7799988c4.7015228-3.6550674 11.2007217-3.9358978 16.2000046-.7000008L94 51.4199982" />
        <path id="logo-mtn-big" d="M6 77.3799973l34.4000015-23.7199936c4.6297226-3.1888199 10.7178421-3.2990799 15.4599991-.2799988L94 77.6399994" />
        <path id="logo-pic" d="M12 6h76c3.3137054 0 6 2.6862917 6 6v75.9995804c0 3.3138733-2.6865463 6.0002289-6.0004196 6l-76-.0053024C8.6860361 93.9940414 6 91.3078232 6 87.994278V12c0-3.3137083 2.6862917-6 6-6z" />
      </symbol>

      <%// Logo Text %>
      <symbol id="logo-text" viewBox="0 0 604 132">
        <path id="logo-s-one" d="M33.0143394 1.6638768c-4.845129 0-10.5659847 1.2806463-11.6614552 1.6874397C14.9453964 5.7345877 9.4613285 10.274992 5.9477615 16.1589012-.5025449 26.2670765.9468307 46.6200065 8.4841413 52.5730705 18.0987339 63.4456711 34.0979614 65.7941513 47.36726 69.4379807c5.9477921 1.6325607 12.4708748 3.526062 17.2667503 7.5807114 3.6520081 3.0871429 5.3778763 7.3505402 5.9840851 11.9926453.7137299 5.4677429.3951721 11.3422928-2.1788483 16.3229446-1.0631409 2.4578094-9.8429413 10.6691895-15.1834526 10.6390228l-5.118351-.0032806c-3.8813477.0032806-6.7785606 2.3405228-6.7785606 7.2236252 0 4.7187576 2.4295349 7.1914978 6.7785606 7.1914978l.9355164-.0151215 5.0256348.0151215c6.4545288-.4134827 17.5047455-4.1580811 23.6124878-11.0630188 9.1791-10.3788147 10.2113876-26.8650208 6.0002136-39.7341614-4.0646667-12.4235382-15.0986633-18.8828621-26.9902191-22.710022-3.591526-1.1561737-7.2314415-2.1758575-10.9197464-2.978756-12.1724777-2.6509094-14.9064484-3.4109879-21.319313-7.2060242-3.8482552-2.277565-6.5714722-5.5359955-7.4236526-9.9626465-.9529896-4.9565697-.344099-10.6036224 2.7837009-14.7144756.495985-.6543617 1.0484257-1.2565422 1.6425323-1.8078594 1.5968323-1.4813538 4.6117249-2.7552814 6.8994408-3.4136658 1.4785461-.4255371 4.6303005-.6859093 4.6303005-.6859093 4.4391289.0393772 8.032074 0 8.032074-7.2230339-1e-7-7.2216975-8.0320741-7.2216975-8.0320741-7.2216975" />
        <path id="logo-t" d="M107.7063828 2.0978069c-4.1496429 0-7.5134354 3.3421612-7.5134354 7.4640265v.0561705c0 4.1232014 3.3637772 7.4666996 7.5134354 7.4666996h22.4422379c1.5099487 0 2.7324066 1.2143555 2.7324066 2.7122459v103.1214981c0 4.1232071 3.3624268 7.4666977 7.512085 7.4666977 4.1496582 0 7.5147858-3.3434906 7.5147858-7.4666977V19.7969494c0-1.4978905 1.2211151-2.7122459 2.7297058-2.7122459h22.3804474c4.1483002 0 7.512085-3.3434982 7.512085-7.4666996v-.0561705c0-4.1218653-3.3637848-7.4640265-7.512085-7.4640265h-65.3116685z" />
        <path id="logo-a" d="M231.9545898 2.00001c-.043869 0-.0903778 0-.1356049.0013227-3.0334778.0463243-5.8582764 1.9387932-6.9230499 4.9548578l-18.577179 52.6506042-6.5588226 18.5899582-14.7899475 41.9124451c-1.3638763 3.8683319.6766205 8.1059036 4.5622101 9.466362l.0053101.002655c3.8855896 1.3591309 8.139389-.674942 9.5045929-4.541954l31.3970795-88.983551c.5303955-1.5020752 2.6652679-1.5020752 3.1943359 0l31.3983765 88.983551c1.3652039 3.867012 5.6190186 5.9010849 9.5046082 4.541954l.0053101-.002655c3.8855896-1.3604584 5.9260864-5.5980301 4.5622253-9.466362l-14.789978-41.9124451-6.5588379-18.5899582-18.5771638-52.6506146c-1.0647736-3.0160542-3.8895721-4.9085331-6.9230652-4.9548573C232.2084656 2 232.163269 2 232.1180725 2h-.1634979" />
        <path id="logo-s-four" d="M323.8615723 1.9974983c-5.3504639.4980175-10.4243164 2.8221095-14.8047485 5.9577961-8.5663147 6.1303859-12.639679 16.1724701-12.3525085 26.4872684.2540894 9.0921555 4.1938171 16.8970947 11.537323 22.3502884 9.006958 6.6903305 20.0982971 9.4715996 30.5570374 13.0288811 7.5843201 2.5810089 17.2172852 5.9037781 20.6223755 13.8747253 3.3005066 7.7245712 1.9916992 18.7007751-3.5149231 25.0801697-3.1364441 3.6350174-8.108429 6.5664825-11.7464294 6.8326187-1.8725891.135704-5.0698853.2964401-6.9464417.2964401-6.9927979 0-17.5640259-.1133041-24.5568237-.1133041-3.3574219 0-6.4581299.8432083-8.0051575 4.1620255-2.2762451 4.8840179 1.4941101 10.1369324 6.6936951 10.2924042 5.9896545.1765442 13.7817688.1119843 19.7727661.1119843 3.019989 0 7.8476868.0592957 10.866333 0 4.1567688-.0816803 6.9120483-.9156647 10.1715698-2.1211853 9.627655-3.5638733 17.3072815-10.919548 20.9294128-20.5084076 3.5043335-9.2779236 3.7134094-20.796936-.2156982-29.9931717-3.5493469-8.3082352-10.8663635-13.7482452-18.8781738-17.4860268-4.8965454-2.284565-10.0339355-4.0368614-15.1990967-5.6086426-8.5610046-2.6152649-6.557373-2.0078926-2.5527954-.7878723-4.9177246-1.5362206-9.8407288-3.2200012-14.4156799-5.5691223-3.1086426-1.5994568-6.2265625-3.6113014-8.1653137-6.5862465-3.776947-5.7931061-2.7142639-15.1342678 1.8355408-20.1856098 2.5369263-2.8181591 6.3072815-4.4176159 10.1000977-5.0039082 2.6732483-.4110603 6.0783081-.4756222 8.7582092-.4756222 6.1934509 0 13.8982544.2094803 20.193573.1396599 5.2829895-.0579681 9.1472473-5.3662262 6.7029724-10.3279772-1.7044983-3.4597874-5.0540161-4.0750694-8.5001221-4.0750694-3.6790161 0-9.9346619-.0750972-15.8382874-.0750972-5.3756409 0-10.4587402.0619192-13.0486145.3030323" />
        <path id="logo-h" d="M407.9077759 9.1589098v113.3740311c0 4.1233978 3.3639526 7.4670563 7.5137634 7.4670563 4.1498413 0 7.5137939-3.3436584 7.5137939-7.4670563V77.8376083c0-1.4016647 1.1445923-2.5385056 2.5565491-2.5385056h48.1242676c1.4105835 0 2.5552368 1.1368408 2.5552368 2.5385056v44.6953354c0 4.1233978 3.3639221 7.4670563 7.5137634 7.4670563h.0067139c4.1498413 0 7.5137939-3.3436584 7.5137939-7.4670563V9.1709099c0-4.1220622-3.3639526-7.4643831-7.5137939-7.4643831h-.0067139c-4.1498413 0-7.5137634 3.3423207-7.5137634 7.4643831v48.8454933c0 1.4029999-1.1445923 2.5398407-2.5565796 2.5398407l-48.1242676-.0227356c-1.4119263-.0013351-2.5552063-1.1381836-2.5552063-2.5398407V9.1588793c0-4.1180515-3.3558655-7.4590359-7.5003662-7.4643826h-.0134583c-4.1485291-.0013368-7.5137634 3.3423209-7.5137634 7.4643826" />
        <path id="logo-y" d="M565.3300171 74.9211578l36.0249023-61.959301-12.8904419-7.647387.4064331-.6997743-29.5439453 54.1175728c-.4990845.9135246-2.5079956.9135246-3.0057983 0L527.2156372 5.404057l-12.8904419 7.647387 35.9992065 61.8697128m1e-7 48.0316096c0 4.1042557 3.3577271 7.4323807 7.5014648 7.4323807 4.1437988 0 7.5041504-3.328125 7.5041504-7.4323807h-15.0056152zm0-48.0316086h15.0056152v48.0316086h-15.0056152V74.9211578zM527.2156372 5.404057c-2.1104126-3.5257144-6.7060547-4.6735191-10.2657471-2.5617006-3.5596313 2.1118133-4.7350464 6.6833725-2.6246948 10.2090874l12.8904419-7.6473868zm74.1392822 7.5578008c2.1103516-3.5257139.9349365-8.0972738-2.6246948-10.2090874-3.5596924-2.1118186-8.1553345-.9640138-10.2657471 2.5617003l12.8904419 7.6473871z" />
      </symbol>
    </svg>
    <div id="app-container">
      <header class="page-header">
        <div class="page-header-left">
          <a class="page-header-logo" role="Link" title="Stashy" href="/">
            <div class="logo-pic">
              <div class="logo-pic-bg">
                <svg class="svg-icon-container" height="100%" viewBox="0 0 100 100" width="100%">
                  <circle cx="24" cy="26" id="logo-sun" r="8" />
                </svg>
              </div>
              <div class="logo-pic-fg">
                <svg width="0" height="0">
                  <use xlink:href="#logo-picture" x="0" y="0" />
                </svg>
              </div>
            </div>
            <div class="logo-text">
              <div class="logo-text-blobs">
                <svg class="svg-icon-container" height="100%" viewBox="0 0 604 132" width="100%">
                  <path d="M51.8352356 123.1919937l22.7479248.004921" id="logo-blob-bottom" />
                  <path d="M6.583159 8.8090611l22.7479243.00492" id="logo-blob-top" />
                </svg>
              </div>
              <div class="logo-text-letters">
                <svg width="0" height="0">
                  <use xlink:href="#logo-text" x="0" y="0" />
                </svg>
              </div>
            </div>
          </a>
        </div>
      </header>

      <div class="page-root">
        <h1>Unsupported Browser</h1>
        <h2>You're using a web browser we don't support yet.<br />Please use one of these options to improve your experience.</h2>
        <section class="browser-links">
          <a class="browser-link" href="https://www.google.com/intl/en/chrome/" rel="noopener noreferrer" tabindex="0" target="_blank" title="Google Chrome">
            <div class="browser-link-image chrome" role="Img"></div>
            <h4>Google Chrome</h4>
          </a>
          <a class="browser-link" href="https://www.microsoft.com/en-us/windows/microsoft-edge" rel="noopener noreferrer" tabindex="0" target="_blank" title="Microsoft Edge">
            <div class="browser-link-image edge" role="Img"></div>
            <h4>Microsoft Edge</h4>
          </a>
          <a class="browser-link" href="https://www.mozilla.org/en-US/firefox/new/" rel="noopener noreferrer" tabindex="0" target="_blank" title="Mozilla Firefox">
            <div class="browser-link-image firefox" role="Img"></div>
            <h4>Mozilla Firefox</h4>
          </a>
          <a class="browser-link" href="https://www.opera.com" rel="noopener noreferrer" tabindex="0" target="_blank" title="Opera">
            <div class="browser-link-image opera" role="Img"></div>
            <h4>Opera</h4>
          </a>
          <a class="browser-link" href="https://www.apple.com/safari/" rel="noopener noreferrer" tabindex="0" target="_blank" title="Apple Safari">
            <div class="browser-link-image safari" role="Img"></div>
            <h4>Safari</h4>
          </a>
        </section>
      </div>
    </div>
  </body>
</html>
