<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Giphy Search Experiment</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" id="viewport">
    <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="/assets/styles/base/_reset.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/layout/_body.css" rel="stylesheet" type="text/css" />
    <link href="/assets/styles/views/_unsupported.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app-container">
      <div class="page-root">
        <h1>Unsupported Browser</h1>
        <h2>You're using a web browser we don't support yet.<br />Please use one of these options to improve your experience.</h2>
        <section class="browser-links">
          <a class="browser-link" href="https://www.google.com/intl/en/chrome/" rel="noopener noreferrer" tabindex="0" target="_blank" title="Google Chrome">
            <div class="browser-link-image chrome" role="Img"></div>
            <h4>Google Chrome</h4>
          </a>
          <a class="browser-link" href="https://www.microsoft.com/en-us/windows/microsoft-edge" rel="noopener noreferrer" tabindex="0" target="_blank" title="Microsoft Edge">
            <div class="browser-link-image edge" role="Img"></div>
            <h4>Microsoft Edge</h4>
          </a>
          <a class="browser-link" href="https://www.mozilla.org/en-US/firefox/new/" rel="noopener noreferrer" tabindex="0" target="_blank" title="Mozilla Firefox">
            <div class="browser-link-image firefox" role="Img"></div>
            <h4>Mozilla Firefox</h4>
          </a>
          <a class="browser-link" href="https://www.opera.com" rel="noopener noreferrer" tabindex="0" target="_blank" title="Opera">
            <div class="browser-link-image opera" role="Img"></div>
            <h4>Opera</h4>
          </a>
          <a class="browser-link" href="https://www.apple.com/safari/" rel="noopener noreferrer" tabindex="0" target="_blank" title="Apple Safari">
            <div class="browser-link-image safari" role="Img"></div>
            <h4>Safari</h4>
          </a>
        </section>
      </div>
    </div>
  </body>
</html>
