// Global color definitions

$alizarinCrimson: #e71d36;  // rgb(231,29,54)   // hsl(353,81,51)
$aluminum:        #999;     // rgb(153)         // hsl(0,0,60)
$brightSun:       #ffdd40;  // rgb(255,221,64)  // hsl(49,100,63)
$dodgerBlue:      #0ebeff;  // rgb(14,190,255)  // hsl(196,100,53)
$emerald:         #47cf73;  // rgb(71,207,115)  // hsl(139,59,55)
$gallery:         #eee;     // rgb(238)         // hsl(0,0,93)
$mediumPurple:    #ae63e4;  // rgb(174,99,228)  // hsl(275,70,64)
$mineShaft:       #313131;  // rgb(49)          // hsl(0,0,19)
$orangePeel:      #f90;     // rgb(255,153,0)   // hsl(36,100,50)
$quiltGray:       #d8d8d8;  // rgb(216)         // hsl(0,0,85)
$ripeLemon:       #f8e71c;  // rgb(248,231,28)  // hsl(55,94,54)
$nero:            #202020;  // rgb(32)          // hsl(0,0,13)
$shark:           #222224;  // rgb(34,34,36)    // hsl(240,3,14)
$springGreen:     #0f6;     // rgb(0,255,102)   // hsl(144,100,50)
$tundora:         #454545;  // rgb(69)          // hsl(0, 0, 27)
