// Base breakpoints
$xxxxxLarge: #{map-get($viewport, xxxxxLarge)}px;
$xxxxLarge:  #{map-get($viewport, xxxxLarge)}px;
$xxxLarge:   #{map-get($viewport, xxxLarge)}px;
$xxLarge:    #{map-get($viewport, xxLarge)}px;
$xLarge:     #{map-get($viewport, xLarge)}px;
$large:      #{map-get($viewport, large)}px;
$medium:     #{map-get($viewport, medium)}px;
$small:      #{map-get($viewport, small)}px;
$xSmall:     #{map-get($viewport, xSmall)}px;
$base:       #{map-get($viewport, base)}px;

// Header Height
$headerHeight:      #{map-get($header, base)}px;
$headerHeightLarge: #{map-get($header, large)}px;

// App Padding
$appBasePad:   #{map-get($appPadding, base)}px;
$appMediumPad: #{map-get($appPadding, medium)}px;
$appLargePad:  #{map-get($appPadding, large)}px;
