$experimental-support: webkit moz ms o spec;
$experimental-support-for-svg: true;
$output-bourbon-deprecation-warnings: false;
$placeholder-prefixes: ':-webkit-input' ':-moz' '-moz' '-ms-input';
$webkit-support: webkit spec;

@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import '../data/breakpoints.json';
@import 'util/all';
@import 'base/all';
