// Base breakpoints
$xxxxxLarge: map-get($viewport, xxxxxLarge);
$xxxxLarge:  map-get($viewport, xxxxLarge);
$xxxLarge:   map-get($viewport, xxxLarge);
$xxLarge:    map-get($viewport, xxLarge);
$xLarge:     map-get($viewport, xLarge);
$large:      map-get($viewport, large);
$medium:     map-get($viewport, medium);
$small:      map-get($viewport, small);
$xSmall:     map-get($viewport, xSmall);
$base:       map-get($viewport, base);

// Header Height - based on breakpoint.

$headerHeight:      map-get($header, base);
$headerHeightLarge: map-get($header, large);

// Base Padding

$appBasePad:   map-get($appPadding, base);
$appMediumPad: map-get($appPadding, medium);
$appLargePad:  map-get($appPadding, large);
