if unsupported
  header.page-header
    .page-header-left
      +link('/', 'Stashy')(class='page-header-logo')
        .logo-pic
          .logo-pic-bg
            svg(height='0' width='0')
              use(xlink:href='#logo-sun' x='0' y='0')
          .logo-pic-fg
            svg(height='0' width='0')
              use(xlink:href='#logo-picture' x='0' y='0')
        .logo-text
          .logo-text-blobs
            svg(height='0' width='0')
              use#logo-blob-bottom(xlink:href='#logo-blob-bottom', x='0', y='0')
              use#logo-blob-top(xlink:href='#logo-blob-bottom', x='0', y='0')
          .logo-text-letters
            svg(height='0' width='0')
              use(xlink:href='#logo-text' x='0' y='0')

else
  header.faux-header
