body, html {
  height: 100%;
  margin:  0;
  padding: 0;
  vertical-align: top;
  width:  100%;
  zoom: 1;
}

blockquote, dd, dl, dt, fieldset, form, h1, h2, h3, h4,
h5, h6, input, li, ol, p, pre, select, textarea, ul {
  border: 0;
  font-size: 100%;
  font: inherit;
  letter-spacing: normal;
  margin:  0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, td, th {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

article, aside, details, figcaption, figure, footer, form,
header, hgroup, input[type='password'], input[type='submit'],
input[type='text'], menu, nav, ol, section, summary, ul {
  display: block;
}

ol, ul {
  list-style: none;
}

li {
  list-style-image: none;
  list-style-type: none;
}

a {
  color: blue;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover, a:active {
  color: red;
}

a::before {
  cursor: pointer;
  transition: color 100ms;
}

a img {
  border: none;
}

img {
  backface-visibility: hidden;
  display: block;
  margin: 0 auto;
}

a, div, form, h1, h2, h3, h4, h5, h6, img, input[type='checkbox'],
input[type='email'], input[type='password'], input[type='text'],
label, li, ol, p, section, span, textarea, ul {
  box-sizing: border-box;
}

a:before, a::before, div:before, div::before, label:before, label::before,
span:before, span::before, a:after, a::after, div:after, div::after,
label:after, label::after, span:after, span::after {
  box-sizing: border-box;
}

input&::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

svg {
  float: left;
  overflow: visible;
  pointer-events: none;
}

video {
  outline: 0;
}
