$experimental-support: webkit moz ms o spec;
$experimental-support-for-svg: true;
$output-bourbon-deprecation-warnings: false;
$placeholder-prefixes: ':-webkit-input' ':-moz' '-moz' '-ms-input';
$webkit-support: webkit spec;
