.scroll {
  &-top {
    &-btn {
      background-color: rgba($nero, 0.85);
      border-radius: 6px;
      min-height: 30px;
      min-width: 30px;
      opacity: 0;
      padding: 0;
      transition: background-color 180ms ease-in 0s, box-shadow 180ms ease-in 0s, opacity 180ms ease-in 0s, transform 180ms ease-in 0s;
      z-index: 1000;
      @include size(40px);
      @include position(fixed, null 18px 18px null);
      @include breakpoint($large) {
        background-color: rgba($nero, 0.65);
      }
      &:hover {
        @include breakpoint($large) {
          background-color: rgba($nero, 1);
        }
        .icon {
          &-arrow {
            path {
              @include breakpoint($large) {
                @include animation-reset($duration: 350ms, $name: strokeDash);
              }
              &.arrow {
                &-center {
                  @include breakpoint($large) {
                    stroke-dasharray: 59.5339241027832, 59.5339241027832;
                    stroke-dashoffset: 58;
                  }
                }
                &-left, &-right {
                  @include breakpoint($large) {
                    animation-delay: 200ms;
                    stroke-dashoffset: 30;
                  }
                }
                &-left {
                  @include breakpoint($large) {
                    stroke-dasharray: 29.959726333618164, 29.959726333618164;
                  }
                }
                &-right {
                  @include breakpoint($large) {
                    stroke-dasharray: 29.945518493652344, 29.945518493652344;
                  }
                }
              }
            }
          }
        }
      }
      &:focus, &:active {
        background-color: white;
        box-shadow: inset 0 0 0 1px $nero;
        path {
          stroke: $nero;
        }
      }
      &.active {
        opacity: 1;
      }
      &.footer-offset {
        transform: translateY(-32px);
        @include size(30px);
        @include breakpoint($medium) {
          transform: translateY(0);
          @include size(40px);
        }
        .icon {
          &-arrow {
            @include size(14px);
            @include breakpoint($medium) {
              @include size(24px);
            }
            path {
              stroke-width: 5px;
              @include breakpoint($medium) {
                stroke-width: 3px;
              }
            }
          }
        }
      }
      path {
        stroke: white;
      }
      .icon {
        &-arrow {
          @include center-xy;
          @include size(24px);
        }
      }
    }
  }
}
